<div layout="column" layout-padding>
  <extension-add ng-show="extensionsList.isLoggedIn"></extension-add>

  <div flex>
    <h2 class="md-display-1">Lista de ramais:</h2>
  </div>

  <div flex layout="row" layout-padding>
    <md-input-container>
      <label>Search</label>
      <input ng-model="extensionsList.searchText">
    </md-input-container>

    <!-- <extensions-sort on-change="extensionsList.sortChanged(sort)" property="name" order="1"></extensions-sort> -->
  </div>

  <div layout="column" layout-gt-sm="row">
    <div flex="50">
      <md-card dir-paginate="extension in extensionsList.extensions | itemsPerPage: extensionsList.perPage" total-items="extensionsList.extensionsCount">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline" ui-sref="extensionDetails({ extensionId: extension._id })">
              {{extension.name}}
              <extension-remove extension="extension" ng-show="extensionsList.isOwner(extension)"></extension-remove>
            </span>
            <span class="md-subhead">{{extension.number}}</span>
          </md-card-title-text>
        </md-card-title>
      </md-card>
      <dir-pagination-controls on-page-change="extensionsList.pageChanged(newPageNumber)"></dir-pagination-controls>
    </div>
  </div>
